.wrapper {
    display: inline-block;
}

.input {
    display: none;
}

.label {
    position: relative;
    width: 120px;
    height: 45px;
    display: block;
    background: #d9d9d9;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.2), inset 0px -2px 8px rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease;
}

.label:after {
    content: '';
    position: absolute;
    height: 37px;
    width: 37px;
    background: linear-gradient(180deg, #ffffff, #f2f2f2);
    border-radius: 100px;
    top: 4px;
    left: 4px;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.input:checked~.label:after {
    left: 75px;
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.input:checked~.label {
    background: #242424;
}

.labelText {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.75rem;
    font-weight: 600;
    color: #666;
    transition: all 0.3s ease;
    user-select: none;
    pointer-events: none;
}

.input:not(:checked)~.label .labelText {
    left: 55px;
    color: #666;
}

.input:checked~.label .labelText {
    left: 15px;
    color: #aaa;
}